html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.site-container {
  width: 60rem;
  margin: 0 auto;

}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
}

p,a{
  font-size: 1rem;
}

ul {
  list-style:  outside;
  font-size: 0.85rem;
}

.quotation {
  line-height: 1.5rem;
  color: hsl(0, 0%, 30%);
  text-align: center;
  font-family: "Playfair Display", serif;
}


          /*  Header  */

header {
  background-color: hsl(175, 20%, 100%);
}

nav {
  display: flex;
  margin-right: 1.5rem;
}

nav p {
  margin: 0 0.5rem;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.company-id {
  height: 2rem;
  display: flex;
  margin-left: 1.5rem;
  flex-direction: row;
  align-items: center;
}

.company-id img {
  height: 100%;
  margin-right: 0.5rem;
}

.mobile-icons {
  display: none;
}

#colmar {
  font-weight: 900;
  color: hsl(0, 0%, 10%);
}

#academy {
  font-weight: 100;
  color: hsl(0, 0%, 50%);
}

          /* Header for narrow screens */

@media only screen and (max-width:960px) {
  #colmar, #academy, nav {
    display: none;
  }

  .mobile-icons {
    display: inline;
    padding: 1.5rem;
  }

  .header-bar {
    width: auto;
  }
}

          /*  First section: getting started  */

.banner-background {
  background-color: hsl(360, 0%, 90%);
}

.banner {
  display: flex;
  justify-content: space-between;
}

.banner-image-container {
  width: 33rem;
  height: auto;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.banner-image-container img {
  width: 100%;
  max-height: auto;
  display: block;
}

.banner-text {
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.banner-text h1 {
  font-size: 2rem;
  font-weight: 700;
}

.banner-text h4 {
  margin: 2rem 0;
}

.banner-text a {
  padding: 0.5rem 0 0.5rem 0;
  background-color: hsla(175, 35%, 10%, 0.9);
  text-align: center;
  color: hsl(360, 100%, 100%);
  border-radius: 1rem;
}

.banner-text a:hover {
  background-color: hsla(175, 35%, 10%, 1);
}

.banner-text a:active {
  background-color: rgb(200,200,200);
}

          /* First section for narrow screens */

@media only screen and (max-width:960px) and (min-width:790px) {
  .banner {
    width: auto;
  }

  .banner-image-container {
    width: 60%;
  }

  .banner-text {
    width: 40%;
  }
}

@media only screen and (max-width:790px) and (min-width:480px){
  .banner {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .banner-image-container {
    width: 26rem;
    padding: 0;
  }
}

@media only screen and (max-width:480px) {
  .banner {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .banner-image-container {
    width: auto;
    padding: 0;
  }
}

          /* Second section: how to visit the campus */

.information-background {
  background-color: hsl(175, 0%, 95%);
}

.information {
  display: flex;
  justify-content: space-between;
}

.information-main {
  display: flex;
  flex-direction: column;
  width: 36rem;
  padding: 0 1.5rem;
}

.information-main-image-container {
  width: 33rem;
  height: auto;
  overflow: hidden;
  padding: 2rem 0;
}

.information-main-image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.information-main-text h2 {
  margin-bottom: 1.5rem;
}

.information-main-text h5 {
  margin: 2rem 0;
  text-align: center;
}

.information-sidebar {
  padding: 0 1.5rem;
}

.information .sidebar-item-container:first-child {
  padding-top: 1rem;
}

.sidebar-item-container:nth-child(0n+2) {
  margin: 1px 0;
}

.information .sidebar-item-container:last-child {
  padding-bottom: 6rem;
}

.sidebar-item {
  display: flex;
  width: 21.5rem;
  margin-right: 0;
}

.sidebar-item:hover {
  background-color: hsl(360, 100%, 100%);
}

.sidebar-image-container {
  width: 7.35rem;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

.mobile-sidebar-image-container {
  display: none;
}

.sidebar-image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4rem;
}

.mobile-sidebar-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.sidebar-text {
  width: 15.65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-text p {
  padding: 0.5rem 0;
  line-height: 1.2rem;
}

.sidebar-text a {
  color: hsl(210, 50%, 50%);
}

.sidebar-text p,a {
  font-size: 0.8rem;
}

          /* Second section responsive */

@media only screen and (max-width:960px) and (min-width: 790px) {
  .information {
    width: auto;
  }

  .information-main {
    width: 60%;
  }

  .information-main-image-container {
    width: auto
  }

  .information-sidebar {
    width: 40%;
  }

  .sidebar-item-container {
    width: 100%;
  }

  .sidebar-item {
    width: 93%;
  }

  .sidebar-image-container {
    width: 30%;
    height: auto;
  }

  .sidebar-text {
    width: 70%;

  }

}

@media only screen and (max-width: 790px) and (min-width:480px) {
  .information {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .site-container {
    width: 100%
  }

  .information-main {
    display: block;
  }

  .information-main-image-container {
    width: 26rem;
    margin: 0 auto;
  }

  .information-main-text {
    display: none;
  }

  .sidebar-item {
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .sidebar-text {
    text-align: center;
  }

}

@media only screen and (max-width:480px) {
  .site-container {
    width: 100%
  }

  .information-main {
    display: none;
  }

  .sidebar-item {
    flex-direction: column;
    width: auto;
  }

  .sidebar-text {
    margin: 1rem 0;
  }

  .sidebar-image-container {
    display: none;
  }

  .mobile-sidebar-image-container {
    display: block;
    width: 100%;
  }
}

          /* Third section: courses offered */

.courses-background {
  background-color: hsl(360, 0%, 90%);
}

.courses {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 2rem auto;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 52rem;
  margin: 0 auto 2rem auto;
  overflow: hidden;
  height: 41rem;
}

.course-card {
  width: 16rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.course-card:nth-child(3n+2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.course-image-container {
  overflow: hidden;
  width: 16rem;
  height: 8rem;
}

.course-image-container img {
  width: 100%;
  height: auto;
  opacity: 0.75;
}

.course-image-container img:hover {
  opacity: 1;
}

.course-card-text {
  height: 8rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  background-color: white;
}

.course-card-text ul {
  margin-left: 1rem;
}

.course-card-text h3 {
  text-align: center;
  color: hsl(360, 0%, 100%);
  background-color: hsla(175, 35%, 10%, 0.9);
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.course-card-text h3:hover {
  background-color: hsla(175, 35%, 10%, 1);
}

.course-card-text h5 {
  text-transform: uppercase;
  margin: 0.5rem 0;
  text-decoration: underline;
  text-align: center;
  color: hsl(360, 0%, 20%);
}

          /* Third section responsive */

@media only screen and (max-width:960px)  {
  .site-container {
    width: 100%;
  }

  .courses-grid {
    width: 100%;
    flex-direction: column;
  }

  .course-card {

  }

  .course-card-text {
    height: 100%;
    background-color: hsla(175, 35%, 10%, 0.9);
  }

  .course-card-text:hover {
    background-color: hsla(175, 35%, 10%, 1);
  }

  .course-card-text h3 {
    border-radius: 0;
    background-color: hsla(175, 35%, 10%, 0);
  }

  .course-card-text h3:hover{
    background-color: none;
  }

  .course-image-container {
    display: none;
  }

  .course-card-text ul, h5 {
    display: none;
  }
}

          /* Fourth section: thesis exhibit */

.thesis-background {
  background-color: hsl(175, 0%, 95%);
}

.thesis {
  display: flex;
  flex-direction: column;
}

.thesis .section-title {
  margin-bottom: 1rem;
}

.thesis-container {
  display: flex;
  margin-bottom: 2rem;
}

.thesis-main-container {
  display: flex;
  flex-direction: column;
  width: 33rem;
  margin: 1rem 1.5rem 0 1.5rem;
}

.thesis-main-container h3 {
  margin: 1.5rem 0;
}

.thesis-main-container p {
  line-height: 1.5rem;
  color: hsl(360, 0%, 30%);
  text-align: center;
}

          /* Fourth section responsive */

@media only screen and (max-width:960px) {
  .thesis-container .sidebar {
    display: none;
  }

  .thesis-main-container h3, p {
    display: none;
  }

  .thesis-main-container {
    margin: 0 auto;
  }
}

          /* Footer */

footer {
  background-color: hsl(170, 0%, 90%);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.footer-main p {
  padding: 0 1.5rem;
}

.legal-boilerplate {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width:960px) {

  .copyright p {
    height: 1.5rem;
    display: inline;
    margin-top: 2rem;
  }
}
